<div class="container py-5">
  <section class="pb-5">
		<div class="d-flex justify-content-between mb-4">
			<h2 class="">
				Mis viajes
			</h2>
			<a routerLink="/trips/new" class="btn btn-primary my-auto">
                <i class="bi bi-plus-circle"></i> Nuevo Viaje
            </a>
		</div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      @if(pageLoaded)
      {
        @for(trip of userTrips; track trip.id_trip)
        {
          <app-trip-card class="col" [type]="cardType.owner" [tripInfo]="trip"></app-trip-card>
        }
        @empty 
        {
          <div class="alert alert-info text-center mt-3 w-100">
			      <i class="bi bi-info-circle me-2"></i>
			      No has creado ningun viaje
		      </div>
        }
      }
      @else 
      {
        <app-spinner message="Obteniendo los viajes..." size="md"></app-spinner>
      }
    </div>
  </section>

  <section>
    <h2 class="mb-4">
      Viajes donde participo
    </h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      @if(pageLoaded)
      {
        @for(trip of userPetitionsTrips; track trip.id_trip)
        {
          <app-trip-card class="col" [type]="getTripPetitionType(trip.id_trip)" [tripInfo]="trip"></app-trip-card>
        }
        @empty 
        {
          <div class="alert alert-info text-center mt-3 w-100">
            <i class="bi bi-info-circle me-2"></i>
            No has mandado peticiones a ningun viaje
          </div>
        }
      }
      @else 
      {
        <app-spinner message="Obteniendo los viajes..." size="md"></app-spinner>
      }
    </div>
  </section>
</div>
