<div class="container py-5">
  <section class="pb-5">
		<div class="d-flex">
			<h2 class="mb-4">
				Mis viajes
			</h2>
			<button>

			</button>
		</div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <app-trip-card class="col" [owner]="true"></app-trip-card>
      <app-trip-card class="col" [owner]="true"></app-trip-card>
      <app-trip-card class="col" [owner]="true"></app-trip-card>
      <app-trip-card class="col" [owner]="true"></app-trip-card>
      <app-trip-card class="col" [owner]="true"></app-trip-card>
      <app-trip-card class="col" [owner]="true"></app-trip-card>
    </div>
  </section>

  <section>
    <h2 class="mb-4">
      Viajes donde participo
    </h2>
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <app-trip-card class="col" [owner]="false"></app-trip-card>
      <app-trip-card class="col" [owner]="false"></app-trip-card>
      <app-trip-card class="col" [owner]="false"></app-trip-card>
      <app-trip-card class="col" [owner]="false"></app-trip-card>
      <app-trip-card class="col" [owner]="false"></app-trip-card>
      <app-trip-card class="col" [owner]="false"></app-trip-card>
		</div>
  </section>
</div>
