.card
{
    overflow: hidden;
    transition: box-shadow 0.3s;
    height: 100%;
}
.card:hover .card-image
{
    transform: scale(1.08);
}
.card-image 
{
    transition: transform 300ms ease;
    transform-origin: center center;
    backface-visibility: hidden;
}
.owner-display
{
    right: 10px;
    top: 30px;
}