
<article class="row justify-content-around m-0">
  <!-- Seccion izquierda -->
  <div class="col-12 col-md-7">
    <section class="card">
        <img src="{{image}}" alt="" class="img-fluid card-image">
    </section>

    <!-- Parte de iconos {Ruta-Fecha-Participantes} -->
    <section class="card p-3">
      <h1>{{tripInfo.title}}</h1>

      <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center justify-content-between">
              <i class="bi bi-geo-alt pe-2"></i>
              <div class="d-flex flex-column">
                  <p class="m-0 fw-medium">Ruta</p>
                  <div>
                      <span class="card-text">{{tripInfo.departure}}</span>
                      <i class="bi bi-arrow-right pe-2"></i>
                      <span class="card-text">{{tripInfo.destination}}</span>
                  </div>
              </div>
          </div>
          <div class="d-flex align-items-center">
              <i class="bi bi-calendar pe-2"></i>
              <div class="d-flex flex-column">
                  <p class="m-0 fw-medium">Fecha</p>
                  <div>
                      <span class="card-text">{{changeDate(tripInfo.start_date)}}</span>
                  </div>
              </div>
          </div>
          <div class="d-flex align-items-center">
              <i class="bi bi-people pe-2"></i>
              <div class="d-flex flex-column">
                  <p class="m-0 fw-medium">Participantes</p>
                  <div>
              <span class="card-text">{{tripInfo.accepted_participants}} / {{tripInfo.min_participants}}</span>
                  </div>
              </div>
          </div>
      </div>

      <hr>

      <h2>Sobre este viaje</h2>
      <p>{{tripInfo.description}}</p>

      <hr>

      <h2>Itinerario</h2>
      <p>{{tripInfo.itinerary}}</p>
    </section>
  </div>

  <!-- Seccion derecha  -->
  <div class="col-12 col-md-4">

    <section class="card p-3">
        <div class="d-flex-column">
            <h4>Organizador</h4>
            <div class="d-flex align-items-center">
                <img src="{{image}}" alt="" class="img-fluid rounded-circle creator-img">
                <span>{{tripInfo.creator_name}}</span>
            </div>
        </div>
        <button class="btn btn-primary">Peticion</button>
    </section>

    <section class="card p-3">
      <h4>Participantes</h4>
      @for (participants of tripParticipants; track participants.id_participation)
      {
        <p></p>
      }
    </section>
  </div>
</article>
