:host 
{
  display: block;
}

.creator-img
{
    width: 50px;
    height: 50px;
}

.cost-display
{
    right: 20px;
    top: 30px;
}

.simple-animation
{
    transition: all 0.5s; /* Transition time must be set in the .ts to make the animation work */
}
.button-hide
{
    height: 0;
    padding: 0;
}

.preserve-lines
{
    white-space: pre-line;
}